<!DOCTYPE html>
<html>

<head>
    <title>Clientes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TRABAJO GRUPAL 6.3</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Información de Clientes</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Edad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AXL</td>
                            <td>cliente1@GMAIL.com</td>
                            <td>123456789</td>
                            <td>ARKANSAS</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>SLASH</td>
                            <td>cliente2@HOTMAIL.com</td>
                            <td>987654321</td>
                            <td>CURICO</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td>JONAS</td>
                            <td>cliente3@YAHOO.com</td>
                            <td>456789123</td>
                            <td>PROVIDENCIA</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>PETER</td>
                            <td>cliente4@GMAIL.com</td>
                            <td>789123456</td>
                            <td>LAS BARRACAS</td>
                            <td>45</td>
                        </tr>
                        <tr>
                            <td>PARAX</td>
                            <td>cliente5@HOTMAIL.com</td>
                            <td>321654987</td>
                            <td>PARIS</td>
                            <td>50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Pie de página</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>