


{% extends 'base_layout.html' %}

{% block content %}

    <div class="container">
            <h4>Ingresar Jugadores</h4>
               <form id="form-control" action="", method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        
                        <table>
                       
                        {{ form }}
                        
                        </table> 
                    </div>
                    <button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Enviar</button>   
                </form>           
    </div>
{% endblock  %}