<!DOCTYPE html>
<html lang="es">

<head>
    <title>saludo tarea grupal3</title>
    <meta charset="utf-8" />
    
</head>

<body>
    <header>
        <h1 style=color:blue;>BIENVENIDO A TELOVENDO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, aliquam debitis vel, quos ad rem iure autem reprehenderit optio expedita vitae cum sequi doloribus iusto aspernatur perferendis distinctio consectetur ratione neque quod tenetur similique voluptatibus itaque? Magnam consequatur fugit laboriosam architecto quia officiis voluptate aut laudantium ducimus omnis quisquam quod doloribus eveniet doloremque accusantium itaque ex non, perspiciatis aspernatur dolores! Minima placeat iusto ad hic a fugiat, nobis, error incidunt fugit earum animi ipsum vitae neque consequatur quae aperiam labore tenetur, vero dolorem odio quo. In odio accusamus exercitationem error ducimus, quidem quisquam consectetur tempora, deserunt, magnam quaerat? Laudantium, distinctio?</p>
    </header>
    
</body>

</html>

